<link href="styles.css" rel="stylesheet" type="text/css" media="screen">

<footer>
    <section class="sectionfooter">
      <ul class="footernav">
       <div class="maintitlefooter">Informations</div>
   <li><a class="afooter" href="#actualites">Actualités</a></li>
     <li><a class="afooter" href="#apropos">A propos</a></li>
    <li><a class="afooter" href="formulaire">Contactez-nous</a></li>
        <li><a class="afooter" href="#mentionlegales">Mention Légales</a></li>
   </ul>
   <div class="vl"></div>
  
 <ul class="footernav">
        <div class="maintitlefooter">Découvrir</div>
   <li><a class="afooter" href="#auteurs">Auteurs</a></li>
     <li><a class="afooter" href="#nouveautes">Nouveautés</a></li>
   <li><a class="afooter" href="#interviews">Interviews</a></li>
     <li><a class="afooter" href="#coupdecoeur">Coup de coeur</a></li>
 </ul>
      
        <div class="vl"></div>
    
 <ul class="footernav">
          <div class="maintitlefooter">Univers</div>
     <li><a class="afooter" href="#sciencefiction">Science-fiction</a></li>
   <li><a class="afooter" href="#fantasy">Fantasy</a></li>
    <li><a class="afooter" href="#comics">Comics</a></li>
  <li><a class="afooter" href="#apropos">Plus...</a></li>
 </ul>
 
         <div class="vl"></div>
      
    <ul class="footernav">
     <div class="maintitlefooter">Réseaux Sociaux</div>
     
   <li><span class="iconify" data-icon="bx:bxl-facebook" data-inline="false"></span> <a class="afooter" href="#facebook">Facebook</a></li>
   <li><span class="iconify" data-icon="bx:bxl-twitter" data-inline="false"></span> <a class="afooter" href="#twitter">Twitter</a></li>
   <li><span class="iconify" data-icon="bx:bxl-instagram-alt" data-inline="false" data-rotate="90deg" data-flip="horizontal"></span><a class="afooter" href="#instagram">Instagram</a></li>
   <li><span class="iconify" data-icon="bx:bxl-youtube" data-inline="false" data-rotate="180deg" data-flip="horizontal"></span><a class="afooter" href="#youtube">Youtube</a></li>
 </ul>
     </section>
    
   </footer>