<head>

   
    <link href="styles.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7e5440b328.js" crossorigin="anonymous"></script>
   <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  </head>
  <%- include('navigation'); -%>
  <body class="formulaire">
    
  <div class="fondbleu">
   
    <div class="textbox">
     
    <h1>Contactez-nous</h1>
     <p class="informationtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat est eget ligula cursus pellentesque.</p>
    </div>
    </div>
    <div class="">
   <img class="imgcontact "src="../img/sky-formulaire.png" alt="" />
   <div class="flexbloccontact">
    <div class="bloccontact1"><span class="iconify" data-icon="ic:twotone-mail-outline" data-inline="false"></span></div>
    <div class="bloccontact2"><span class="iconify" data-icon="fa:twitter" data-inline="false"></span></div>
    <div class="bloccontact3"><span class="iconify" data-icon="fa-brands:facebook-f" data-inline="false"></span></div>
    </div>
</div>
   <div class="flexblocmessage">
     <div class="blocmessage">
     <div class="titreenvoi">Envoyez un message</div>
     <form action="index" method="POST">
     <input  class="styleformulaire" placeholder="Nom" type="text">
     <input class="styleformulaire" placeholder="Email" type="email">
     <textarea class="stylemessageformulaire" placeholder="Message" rows="5" cols="43"></textarea>
     
     <button type="submit" class="button">Soumettre</button>
    </form>
     <!--  name="submit" type="submit" id="contact-submit" --> 
       
  </div>
  </div>
  </body>