
<html>

  <head>
  
      <link rel="stylesheet" href="listeproduitsbabel.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/7e5440b328.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   </head>
  
  <body>
    <a id="haut"></a>

    
     <h1 class="titreprincipal">Babel</h1>
  
     
    

    
         <div class="container-input">
           <input type="text"  class="searchterm" placeholder="RECHERCHE...">
           <label for="search"><span class="iconify" data-icon="clarity:search-line" data-inline="false"></span></label>
         </div>
    
    
          <!--Pagination du haut + Bloc filtres et résultats recherche-->
    <hr class="ligne">
    <div class="blocrecherche">
    <div class="resultatrecherche">
      <div>500 résultats</div>
     <div>trier par : pertinence <i class="fas fa-angle-down"></i>    
     </div>
    </div>
    
 
   <div class="paginationboxtop">
       <div class="pagination">
        <a href="#"> pagination : &laquo;...</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">...&raquo;</a>
    </div>
     </div>
    </div> 
    
    <!-- Bloc principal -->    
      
     <!--Liste des bandes-dessinées -->
  <div class="container-image">
      <div class="flex1">
      <div class="container">
          <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://zupimages.net/up/20/27/r1n2.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Skydoll</h3>
              <p class="content-text">Tome 3</p>
  
              <p class="content-star"><i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></p>
  
               <p class="content-button"><a href="detail" class="myButton">Voir plus</a></p>
            </div>
          </a>
        </div>
      </div>
      
  
      
      <div class="container">
          <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://zupimages.net/up/20/28/bwui.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Rust</h3>
              <p class="content-text">Tome 1</p>
  
              <p class="content-star"><i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></p>
  
               <p class="content-button"><a href="#" class="myButton">Voir plus</a></p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="container">
          <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://zupimages.net/up/20/27/r1n2.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Skydoll</h3>
              <p class="content-text">Tome 3</p>
              <p class="content-star"><i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></p>
  
               <p class="content-button"><a href="#" class="myButton">Voir plus</a></p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="container">
          <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://zupimages.net/up/20/27/r1n2.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Skydoll</h3>
              <p class="content-text">Tome 3</p>
              <p class="content-star"><i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></p>
  
               <p class="content-button"><a href="#" class="myButton">Voir plus</a></p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="container">
          <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://zupimages.net/up/20/27/r1n2.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Skydoll</h3>
              <p class="content-text">Tome 3</p>
              <p class="content-star"><i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></p>
  
               <p class="content-button"><a href="#" class="myButton">Voir plus</a></p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="container">
          <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://zupimages.net/up/20/27/r1n2.jpg">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Skydoll</h3>
              <p class="content-text">Tome 3</p>
              <p class="content-star"><i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i></p>
  
               <p class="content-button"><a href="#" class="myButton">Voir plus</a></p>
            </div>
          </a>
        </div>
      </div>
      </div>
  
    </div>
      <!--pagination du bas -->
      <div class="paginationboxbottom">
          <div class="pagination">
              <a href="#">Pagination: &laquo;</a>
              <a href="#">1</a>
              <a class="active" href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">&raquo;</a>
            </div>
          </div>
    
    
         <!-- ancre bas -->
        
      <div class="hautbar"><a class="hautstyle" href="#haut"><span class="iconify" data-icon="eva:arrow-ios-upward-fill" data-inline="false"></span></a></div>
      <%- include('footer'); -%>
  </body>
  </html>