<div id="nave">
    <div class="menu-container">
      <div class="menu-close">
                    <span class="cross-un"></span>
                    <span class="cross-deux"></span>
                  </div>
    <div class="menutitle"> MENU</div>
      
    </div>
    
    
    
    <div class="flex-container">
    
    <nav class="menu">
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="#actualites">Actualités</a></li>
            <li><a href="#nouveautes">Nouveautés</a></li>
        <li><a href="#apropos">À propos</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
      
      <div class="vl"></div>
    
    <nav class="menuthemes">
      <ul>
        <li><a id="but" href="listproduitsbabel">Science-Fiction</a></li>
        <li><a href="#fantasy">Fantasy</a></li>
        <li><a href="#historique">Historique</a></li>
          <li><a href="#policierthriller">Policier/Thriller</a></li>
          <li><a href="#tranchedevie">Tranche de vie</a></li>
        <li><a href="#comics">Comics</a></li>
      </ul>
    </nav>
    
    </div>
  
  </div>